@import "../../app/styles/globals";

.header {
  max-width: 120rem;
  height: 7rem;
  margin: 8rem auto 0;
  border-bottom: 1px solid var(--grey-light-2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.6rem;

  @include response(small-device) {
    margin: 0 auto;
  }

  @include response(phone) {
    height: 11rem;
    align-content: space-between;
    padding: 1.5rem 0;
  }

  @media screen and (width <= 31.25em) {
    flex-wrap: wrap;
  }

  .logo {
    flex: 0 0 10%;
    width: 3.5rem;
    height: 3.5rem;
    object-fit: contain;
  }
}

.search {
  flex: 0 0 40%;
  background-color: var(--grey-light-2);
  display: flex;
  justify-content: center;
  align-items: center;

  @media screen and (width <= 31.25em) {
    order: 1;
    flex-basis: 100%;
    margin-top: 1rem;
  }

  &__input {
    width: 90%;
    background-color: var(--grey-light-2);
    border: none;
    border-radius: 2rem;
    padding: 1rem 2rem;
    transition: all 0.25s ease-in-out;
    margin-right: -3rem;
    font-size: inherit;

    &:focus {
      width: 100%;
      outline: none;
      background-color: var(--grey-light-3);
    }

    &::placeholder {
      font-weight: 100;
      font-size: inherit;
      color: var(--grey-light-4);
    }
  }
  &__button {
    border: none;
    cursor: pointer;
    background-color: transparent;
    padding-right: 1rem;

    &:focus {
      outline: none;
      transform: translateY(1px) scale(0.98);
    }
  }
  &__icon {
    width: 2rem;
    height: 2rem;
    fill: var(--grey-dark-3);
  }
}
////////////////////////////////////
.user-info {
  align-self: stretch;
  display: flex;
  align-items: center;

  & > * {
    cursor: pointer;
    padding: 0 1.5rem;
    align-items: center;
  }

  & > *:hover {
    background-color: var(--grey-light-3);
  }

  & > :last-child {
    margin-right: 1.3rem;
  }

  &__icon-box {
    height: 100%;
    display: flex;
  }

  &__icon {
    width: 2.7rem;
    height: 2.7rem;
    fill: var(--grey-dark-2);

    &:hover {
      fill: var(--grey-dark-1);
    }

    &:hover ~ .user-info__notification {
      scale: 1.05;
      background-color: var(--color-primary-light);
    }
  }
  &__notification {
    width: 2.5rem;
    height: 2.5rem;
    text-align: center;
    background-color: var(--color-primary);
    color: white;
    font-size: 1.1rem;
    margin-left: -1rem;
    margin-top: -0.8rem;
    border-radius: 50%;
    transform: translateY(-8px);
    display: flex;
    justify-content: center;
    align-items: center;

    @include response(phone) {
      margin-top: 1rem;
    }
  }

  &__user {
    //flex: 0 0 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    img {
      width: 2.5rem;
      height: 2.5rem;
      fill: var(--grey-dark-2);
      margin-right: 1rem;
    }
  }
}
