.slide__btn {
  height: 50%;
  padding: 2rem 9rem;
  border-radius: 1000px;
  border: none;
  font-weight: 300;
  text-transform: uppercase;
  color: var(--grey-light-1);
  background-image: linear-gradient(
    to right,
    var(--color-primary-light),
    var(--color-primary-dark)
  );
  position: relative;
  overflow: hidden;
  cursor: pointer;

  @include response(tab-port) {
    padding: 4rem 14rem;
  }

  @include response(phone) {
    font-size: 2rem;
    padding: 3.5rem 11rem;
  }

  &--text-1,
  &--text-2 {
    display: inline-block;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.2s ease-in;
  }

  &--text-2 {
    top: -150%;
  }

  &:hover {
    background-image: linear-gradient(
      to right,
      var(--color-primary-dark),
      var(--color-primary-light)
    );
  }

  &:hover &--text-1 {
    top: 150%;
  }

  &:hover &--text-2 {
    color: var(--grey-light-1);
    top: 50%;
  }

  &:focus {
    animation: inline-btn-animation 1s infinite;
  }
}
